<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
        <style>
            button {
                background: none; /* Remove background color */
                border: none; /* Remove border */
                padding: 0; /* Remove padding */
                outline: none; /* Remove outline on focus */
                cursor: pointer; /* Set cursor to pointer for a clickable look */
            }

            button img {
                display: block; /* Ensures the image within the button doesn't have any spacing */
            }
            .generate {
                background-color: green;
                color: white;
                padding: 5px;
                border-radius: 5px;
                box-shadow: 5px black;
            }
            iframe {
                border-radius: 20px;
            }
        </style>
    </head>
    <body>
        <h1>URL Shortener</h1>
        <% if (locals.id) { %> Generated URL:
        <a href="http://localhost:<%= PORT %>/url/<%=id %>" target="_blank"
            >http://localhost:<%= PORT %>/url/<%= id %></a
        >
        <% } %>
        <div>
            <form method="post" action="/url">
                <p>
                    <label>Give the URL: </label>
                    <input
                        placeholder="https://example.com"
                        type="text"
                        name="url"
                    />
                </p>
                <p>
                    <label>Give it a NAME: </label>
                    <input placeholder="Example" type="text" name="name" />
                </p>
                <p>
                    <label>Choose a customized URL (unique - optional): </label>
                    <input placeholder="example" type="text" name="id" />
                </p>
                <button type="submit" class="generate">Generate</button>
            </form>
        </div>
        <% if (locals.urls && locals.PORT) { %>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Serial No.</th>
                        <th>Name</th>
                        <th>Short URL</th>
                        <th>Clicks</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <% urls.forEach((url, index) => { %>
                    <tr>
                        <td><%= index+1 %></td>
                        <td><%= url.name %></td>
                        <td>
                            <a
                                href="http://localhost:<%= PORT %>/url/<%= url.shortId %>"
                                target="_blank"
                                >http://localhost:<%= PORT %>/url/<%=
                                url.shortId %></a
                            >
                        </td>
                        <td><%= url.visitHistory.length %></td>
                        <td>
                            <form
                                method="POST"
                                action="/url/<%= url.shortId %>?_method=DELETE"
                            >
                                <button type="submit">
                                    <img
                                        width="25"
                                        height="25"
                                        src="https://img.icons8.com/plasticine/100/filled-trash.png"
                                        alt="filled-trash"
                                    />
                                </button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        <% } %>
        <div>
            <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/videoseries?si=dyCeJTZEw9SU1B6e&amp;list=PLC3y8-rFHvwjOKd6gdf4QtV1uYNiQnruI"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
            ></iframe>
        </div>
    </body>
</html>
